.HomePage .main-nav {
	margin-top: 2em;
}
.header .logo{
  width: 23%;
  margin-top: 19px;
}
.HomePage .header .logo{
	margin-top: 28px;
}
.main-nav {
	@media #{$large-up} {
		margin: 0.5em 0 .5em;
	}
	@media #{$xlarge-up} {

	}
}

.home-quicklinks {
	& .quicklinks-title {
		color: #fff;
		& span {
			color: darken($primary-color, 18);
		}
	}
}
