.HomePage .main-nav {
	margin-top: 2em;
}
//Logo on interior pages
.header .logo{
	margin-top: 10px;
	@media #{$large-up} {
	  width: 23%;
	  margin-top: 19px;
	}
}

//Logo on homepage
.HomePage .header .logo{
	@media #{$large-up} {
		margin-top: 28px;
	}
}
.main-nav {

	a{
		color: $primary-color;
		text-shadow: none;
	}
	@media #{$large-up} {

		margin: 100px 0 8px;
	}
	@media #{$xlarge-up} {

	}
}

.HomePage .main-nav{
	a{
		color: $primary-color;
		text-shadow: none;		
	}
}

.nav-toggle:before{
	background-color: $primary-color;
}
.home-quicklinks {
	& .quicklinks-title {
		color: #24bad5;
		text-shadow: none;
		& span {
			color: darken($primary-color, 18);
		}
	}
}

.main-content{
	background-color: #f7f7f7;
}

.orbit-container .orbit-slides-container>* .orbit-caption{
	text-shadow: none;
}
.social-blog{
	border-top: none;

    .fb-like-box{
        border-top: 1px solid #e4e4e4;
    }
    .facebook-container{
        background-color: #e4e4e4;
    }
}